<div>
  <h3>You passed!</h3>
  <p>...</p>

  <ul>
    {{#each allLessons}}

      {{#if this.approved}}
      <li>Elemento 1: {{this.topic}}. {{this.description}}</li>
      {{/if}}

    {{/each}}

  </ul>
</div>