<div>

  <h3>Lista de razas</h3>
  
  <ul>

    {{#each breedsArr}}

        {{!-- <li>{{this}}</li> --}}
        <li>
          <a href="/dogs-by-breed/{{this}}">{{this}}</a>
        </li>

    {{/each}}

  </ul>

</div>