<div>
  <h1>Bienvenido a la pagina de Ironhack</h1>
  <p>Aprendemos Promesas, APIs y handlebars</p>
  <p>Nuestro profesor es: {{this.teacherName}}</p>
  <p>nuestros maravillosos TAs son {{ta1}} y {{ta2}}</p>
</div>