<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>
  
  <nav>
    <a href="/">Home</a>
    <a href="/lessons">Todas las Lecciones</a>
    <a href="/random-lesson">Leccion Random</a>
    <a href="/lessons-approved">Aprobadas</a>
    <a href="/lessons/web">Solo Web</a>
    <a href="/lessons/cyber">Solo Cyber</a>
    <a href="/lessons/ux">Solo UX</a>
  </nav>

  {{{body}}}

</body>
</html>